<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>5805328601-3qgaqvqrfb5214a2tbuud0spv1smr6sp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.5805328601-3qgaqvqrfb5214a2tbuud0spv1smr6sp</string>
	<key>API_KEY</key>
	<string>AIzaSyB1iGyUGf7o3zdklbnl0uMw3ciMcZyAttU</string>
	<key>GCM_SENDER_ID</key>
	<string>5805328601</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>pl.speednet.PostIt</string>
	<key>PROJECT_ID</key>
	<string>postit-5778c</string>
	<key>STORAGE_BUCKET</key>
	<string>postit-5778c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:5805328601:ios:8e2cb6231ec8d20a</string>
	<key>DATABASE_URL</key>
	<string>https://postit-5778c.firebaseio.com</string>
</dict>
</plist>